<main class="main">
  <p>Your team has succesfully been created.</p>
  <p>Go get buckets!</p>
  <img id="create-team-img" src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555375625/shape/mentalfloss/whitemen_prim.jpg?itok=CqBRNlHF" alt="White Men Can't Jump">
</main>
