<h2 class="h2" id="header">Teams</h2>

<main class="flex-item main">

  <% @teams.each do |team| %>
  <p>Team Name: <%= team.name %> </p>
  <p>Wins: <%= team.wins %></p>
  <p>Losses: <%= team.losses %></p>
  <button type="button" name="button"><a class="button-a" href="/teams/<%= team.id %>">View Team</a></button>
  <% end %>
</main>
