<form action="/teams" method="post" class="flex-item">
  <label for="team_name"> Team Name: </label>
  <input type="text" name="name" id="team_name"/>

  <label for="wins">Wins: </label>
  <input type="text" name="wins" id="wins">

  <label for="losses">Losses: </label>
  <input type="text" name="losses" id="losses">

  <input type="submit" value="Create Team">

</form>
