<main class="main">
  <p>Edinburgh and Midlothian Basketball is the premier basketball league in
     Scotland. Every Friday night you'll see the best of the best take each other
     on. Let's get buckets! </p>
     <img id="front-page-image" src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/69948072_2624657577556147_1758036500592721920_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_oc=AQmwexinF0KxCjZX2m-zhZ_IBa1p6nWGQu2znPj0ALdUp-h9VuvzmJ7h7UZyMBa0vCc&_nc_ht=scontent-lht6-1.xx&oh=b2127f5f8815f40cf4bcd39f0c6c5760&oe=5E98066E"
     alt="A terrible but handsome basketball player">
  <!-- <table>
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </table> -->
</main>
