<p>Basketball</p>
<<table>
  <tr>
    <th>Team</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <tr>
    <td><%= @team1.name %></td>
    <td> <%= @team1.wins %></td>
    <td><%= @team1.losses %></td>
  </tr>
</table>
