<!DOCTYPE html>
<html>
  <head>
    <title>Basketball!</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="flexpitem container">
      <header id = "header" class="flex-item header">
        <a href="/">Edinburgh and Midlothian Basketball League</a>
      </header>
      <nav class="flex-item nav">
        <details id="details1">
          <summary>Teams</summary>
          <ul>
            <li><a href="/teams"> View All Teams</a></li>
            <li><a href="/teams/new">Create New Team</a></li>
          </ul>
        </details>
        <details id="details2">
          <summary>Matches</summary>
          <ul>
            <li>  <a href="/matches">View All Matches</a></li>
            <li><a href="/matches/new">Create New Match</a></li>
          </ul>
        </details>
        <details id= "details3">
          <summary>Contact Us</summary>
          <ul>
            <li>E-Mail: basket@ball.com</li>
            <li>Phone: 01234567890</li>
          </ul>
        </details>
      </nav>
      <%= yield %>
      <footer class="flex-item footer">Copyright SW 2020</footer>
    </section>
  </body>
</html>
