<form action="/matches" method="post" class="main">
  <label for="home_team"> Home Team: </label>
  <input type="text" name="home_team" id="home_team"/>

  <label for="away_team"> Away Team </label>
  <input type="text" name="away_team" id="away_team">

  <label for="home_score"> Home Score </label>
  <input type="text" name="home_score" id="home_score">

  <label for="away_score"> Away Score </label>
  <input type="text" name="away_score" id="away_score">

  <input type="submit" value="Create Match">

</form>
