body {
  font-family: 'Nunito Sans', sans-serif;
  /* color: #FEFFFE;
  background: #86131C; */
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.header,
.footer  {
  flex: 1 100%;
  color: #FEFFFE;
  background: #86131C;
  /* width: 100%; */
  border: 3px #5E0B15;
}

#header {

  height: 50px;
  width: 100%
  font-size: 40px;
  border: 3px #5E0B15;
}

.h2, .main, .form, .show {
  flex: 2;
  color: #FEFFFE;
  background: #86131C;
  /* width: 50%;
  text-align: center;
  margin: auto; */
  border: 3px #5E0B15;
}

.flex-item {
  background: #86131C;
  padding: 10px;
  width: 500px;
  border: 3px  rgba(0,0,0,.2);
  color: #FEFFFE;
  font-size: 2em;
  text-align: left;
}


a {
  text-decoration: none;
  color: #FEFFFE;
}

.nav {
  flex: 1 100%;
  /* width: 100%;
  height:100px; */
  color: #FEFFFE;
  background: #86131C;
  border: 3px #5E0B15;
  /* text-align: center; */
}

/* h2 {
  margin: auto;
  color: #FEFFFE;
  background: #86131C;
} */

/* #details1 {
  float:left;
}

#details3 {
  float: right;
} */
